/*
Author: Jacob Stone
CSS file for QR component frontend.io challenge
*/

/*Reset Styles*/
body, main, header, a {
    margin: 0;
    padding: 0;
    border: 0;
}

/*main area*/
body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*attribution*/
.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 2.5rem;
}

/*attribution links*/
.attribution a {
    color: hsl(228, 45%, 44%);
}

/*parent flex container that will hold the image and the text*/
.qr-container {
    height: 50%;
    width: 20%;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*image container*/
.qr-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-img img {
    max-width: 90%;
    max-height: 90%;
    align-items: center;
    border-radius: 15px;
}

/*text container*/
.qr-text {
    padding: 10px;
    text-align: center;
}

.qr-text p {
    color: hsl(220, 15%, 55%);
}

/*for viewports 375px or less*/
@media (max-width: 393px) {
    .qr-container {
        width: 90%;
        height: 75%;
    }
}

/*for viewports up to 1440px*/
@media (min-width: 394px) and (max-width: 1440px) {
    .qr-container {
        width: 20%;
        max-width: none;
        min-width: 320px;
        min-height: 450px;
    }
}

